
.curseclient
/.vscode
/config
usercache.json
usernamecache.json
/saves
rhino.local.properties
options.txt
/mods
minecraftinstance.json
/logs
/local
kubejs/jsconfig.json
kubejs/README.txt
/kubejs/config
/screenshots
README.txt
jsconfig.json
